/* styling of forms for administration */

form {
    width: 100%;
}

form fieldset {
    border: 1px solid #ae0345;
    padding: 10px;
}

form fieldset legend {
    border: 1px solid #ae0345;
    background-color: #fff0f8;
    padding: 3px 10px;
    font-weight: bold;
}

div.text,
div.multi,
div.select,
div.submit {
    position: relative;
    margin-bottom: 10px;
    margin-left: 200px;
}

label :first-of-type {
    position: absolute;
    left: -200px;
    top: auto;
    width: 180px;
    text-align: right;
}

input.input-int {
    width: 75px;
}

input.input-string {
    width: 300px;
}

.button {
    border: 1px solid #ae0345;
    border-radius: 2px;
    background-color: #fff0f8;
    padding: 2px 8px;
    font-weight: bold;
}

.error {
    color: #ae0345;
}

.error_message {
    display: block;
    width: 100%;
    font-weight: bold;
}