/* site.css */

.sortable,
.sorted {
    color: #000000 !important;
    text-decoration: none;
}

.sorted {
    padding-left: 20px;
    background: url(/static/images/bullet_arrow_up.png) top left no-repeat;
}

.sorted.desc {
    background: url(/static/images/bullet_arrow_down.png) top left no-repeat;
}

/* overwritten things from oocss */
.data th,
.data td {
    padding: 3px 10px;
}

.graph_container {
    float: left;
    postition: relative;
    margin-top: 10px;
    width: 40px;
    height: 32px;
}

.graph_container .image {
    position: absolute;
    margin-left: -600px;
    width: 600px;
    height: 400px;
    display: none;
    -webkit-box-shadow: 3px 3px 6px rgba(0,0,0,1);
}

.graph_container:hover .image {
    display: block;
}
